<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p>
        Crea una nueva categoria para el blog
    </p>

    <hr/>

    <div class="alert alert-success col-md-5" *ngIf="status == 'success'">
        Categoria creada correctamente, <a [routerLink]="['/login']">Login aqui</a>

    </div>

    <div class="alert alert-danger col-md-5" *ngIf="status == 'error'">
        No se ha guardado la categoria

    </div>

    <!--Formulario de crear categoria-->
    <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" class="col-md-5">

        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="category.name" required/>
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre de la categoria no es valido
            </small>
        </div>

        <input type="submit" value="Guardar" class="btn btn-success"  [disabled]="categoryForm.invalid" />

    </form>

    <br/>
</div>