<div class="loading" *ngIf="!category">
    Cargando...
</div>

<div class="container-fluid mt-3" *ngIf="category">
    <h1>{{category.name}}</h1>
    <hr/>

    <div class="loading" *ngIf="!posts">
        Cargando listado...
    </div>

    <div class="alert alert-warning" *ngIf="posts && posts.length == 0"> 
        No hay entradas por mstrar
    </div>


    <div class="card-columns" *ngIf="posts && posts.length >= 1" >
        <article class="card w-100" *ngFor="let post of posts">
            <div class="card-header">
                <h3>
                    <a [routerLink]="['/entrada', post.id]">{{post.title}}</a>
                </h3>
            </div>
            <div class="card-body">
                
                <div class="post-image" *ngIf="post.image">
                    <img src="{{ url+ 'post/image/' + post.image }}" class="w-100">

                </div>

                <div class="post-image" *ngIf="!post.image">
                    <img src="https://via.placeholder.com/150" class="w-100">

                </div>

                    <!--Botones de accsio-->
                    <div class="post-buttons mt-3">

                        <a [routerLink]="['/entrada', post.id]" class="btn btn-success mr-2">Leer</a>
                        
                        <span *ngIf="identity.name != undefined && identity.sub == post.user_id" >
                            <a [routerLink]="['/editar-entrada', post.id]" class="btn btn-warning mr-2">Editar</a>
                            
    
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"  [attr.data-target]="'#myModal'+post.id">
                            Borrar
                            </button>
                            
                        </span>
    
                        <div class="container mt-3">
                            <h2>{{post.title}}</h2>
    
                            
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal{{post.id}}">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                    <h4 class="modal-title">Borrar esta entrada??</h4>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                    Vas a borrrar definitivamente: {{post.title}} - {{post.content}}
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                    <a (click)="deletePost(post.id)" class="btn btn-danger" data-dismiss="modal">Borrar</a>
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    </div>
                                    
                                </div>
                                </div>
                            </div>
                            
                            </div>
    
                        
                    </div>



            </div>
            
        </article>
    </div>

</div>

